  <!DOCTYPE html>
  <html>
  <head>
    <link rel="stylesheet" type="text/css" href="app.component.scss">
  </head>
  <body>
    <img src="assets/gifs/mi_gif.gif" alt="">
    <div class="container">
      <div class="form-box">
        <div class="form">
          <h1>{{ title }}</h1>
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" [(ngModel)]="persona.nombre">

          <label for="edad">Edad:</label>
          <input type="number" id="edad" [(ngModel)]="persona.edad">

          <label for="sexo">Sexo:</label>
          <select id="sexo" [(ngModel)]="persona.sexo">
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>

          <label for="peso">Peso (Kg):</label>
          <input type="number" id="peso" [(ngModel)]="persona.peso">

          <label for="estatura">Estatura (m):</label>
          <input type="number" id="estatura" [(ngModel)]="persona.estatura">

          <button class="btn btn-primary" (click)="calcularImc()" [disabled]="!formularioValido()">Calcular IMC</button>
        </div>
      </div>

      <div *ngIf="mostrarDetalles" class="details-box">
        <div class="details">
          <h2>Detalles de la persona</h2>
          <p>Nombre: {{ persona.nombre }}</p>
          <p>Edad: {{ persona.edad }} años</p>
          <p>Sexo: {{ persona.sexo === 'M' ? 'Masculino' : 'Femenino' }}</p>
          <p>Peso: {{ persona.peso }} Kg</p>
          <p>Estatura: {{ persona.estatura }} m</p>
          <p *ngIf="persona.imc !== null">IMC: {{ persona.imc }}</p>
          <p *ngIf="recomendacion">{{ recomendacion }}</p>
        <!-- <img *ngIf="persona.imc !== null" [src]="imagenIMC(persona. imc)" alt="IMC Image">-->
        </div>
        <button class="fas fa-user" (click)="nuevosDatos()">Nuevos Datos</button>
      </div>
    </div>
    <footer>
    CAMILO VALDES - DEISON VALLE
    </footer>
  </body>
  </html>
